  *{
    margin: 0;
    padding: 0;
  }
@font-face {
    font-family: 'league_gothicregular';
    src: url('../font/leaguegothic-regular-webfont.eot');
    src: url('../font/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/leaguegothic-regular-webfont.woff2') format('woff2'),
         url('../font/`leaguegothic-regular-webfont.woff') format('woff'),
         url('../font/leaguegothic-regular-webfont.ttf') format('truetype'),
         url('../font/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanslight';
    src: url('../font/opensans-light-webfont.eot');
    src: url('../font/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/opensans-light-webfont.woff2') format('woff2'),
         url('../font/opensans-light-webfont.woff') format('woff'),
         url('../font/opensans-light-webfont.ttf') format('truetype'),
         url('../font/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansextrabold';
    src: url('../font/opensans-extrabold-webfont.eot');
    src: url('../font/opensans-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/opensans-extrabold-webfont.woff2') format('woff2'),
         url('../font/opensans-extrabold-webfont.woff') format('woff'),
         url('../font/opensans-extrabold-webfont.ttf') format('truetype'),
         url('../font/opensans-extrabold-webfont.svg#open_sansextrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*p, ul, h1, h2, h3, h4 {
  margin: 0;
  padding: 0; 
   }*/

h1, h2, h3, h4 {
  font-weight: normal; 
}   
.wrapper {
margin:0;
         }             
          /*HEADER*/
.box {
background-color: #e3e3e3;   
padding-bottom: 149px;
background-size: cover;
background:url('img/background.png') fixed center;
}
header {
	height: 280px;
	padding-bottom:8px;
}
.section-wrapper {
	margin:0px;
	padding: 0px;
}
.logo{
	float:left;
	padding-top: 49px;
    padding-left: 233px;
}
.logo_link { 
   text-transform: uppercase;
   text-decoration: none;
   font-size: 48px;
   color: #fff;
   text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
   font-family: 'league_gothicregular',Tahoma,sans-serif; 
}

.logo_link_gradient {
  background: linear-gradient(0deg, #322539, #745083);
  -webkit-background-clip: text;
  color: transparent;
}
.main-nav-desktop {
  list-style: none;
  display: inline-flex;
  width: 666px;
  margin-left: 134px;
}

.main-nav-item-desktop {
  margin-top: 62px;
  margin-right: 0px;
  padding: 0;
  float:none;
}
   .main-nav-item__link{
       padding-right: 9px;
       padding-left: 39px;
    display: inline-block;
    line-height: 30px;
    text-transform: uppercase;
    list-style: none;
    text-shadow: 2px 2px #868686;
    cursor: pointer; 
   	 color:#fff;
   	 font-size: 24px;
   	 text-decoration: none;
   	 font-family: 'league_gothicregular',Tahoma,sans-serif; 
   }
   .main-nav-item-desktop:first-child {
      margin-left: 0;
      padding-left: 0; 
    }
    .main-nav-item-desktop:hover {
      border-bottom: 2px solid #edbfff;
    }
    .main-nav-item-desktop.isActive {
      border-bottom: 2px solid #edbfff; 
    }
    /*.main-nav-item__link {
      text-decoration: none;
      color: #fff; 
    }*/
    .middle-row-wrapper {
  height: 400px;
 
  background-color: rgba(0, 0, 0, 0.2);
  margin-bottom:0px;
}
.middle-row {
    width: 510px;
    height: 256px;
    text-shadow: 0 2px #868686;  
    padding-left: 235px;
    padding-top: 57px;
    }
    .middle-row_title {
      font-family: 'league_gothicregular', sans-serif;
      font-size: 60px;
      line-height: 57px;
      letter-spacing: -0.5px;
      text-transform: capitalize;
      color: #fff; 
    }
    .middle-row_subtitle {
      font-family: 'league_gothicregular', sans-serif;
      font-size: 32px;
      text-transform: uppercase;
      text-shadow: 0 2px 1px #868686;
      color: #edbfff; 
    }
    .middle-row_text {
    	line-height: 23px;
      max-height: 140px;
      font-family: 'Open Sans', sans-serif;
      font-size: 18px;
      font-weight: 300;
      color: #fff;
      text-shadow: 0 1px #868686; 
    }
                              /*CONTENT*/
.main {
    position: relative; 
    border-top: #0d151b;
	background: #fff;
   height: 487px;
}
      
  
    .main-container {
    width: 960px;
    padding-top: 100px;
    margin-left: 233px;
    }
    .main-container-item {
      position: absolute;
      box-sizing: border-box;
      margin-left: 23px;
      padding: 25px 40px;
      width: 430px;
      box-shadow: 0 0 3px #efefef; 
    }
      .main-container-item:after {
        content: '';
        display: block;
        position: absolute;
        right: 40px;
        bottom: -15px;
        width: 30px;
        height: 30px;
        box-shadow: 1px 1px 2px #efefef;
        background-color: white;
        transform: rotate(68deg) skew(30deg); 
      }
      .main-container-item__avatar {
        position: absolute;
        top: 18px;
        left: -23px; 
      }
      .main-container-item__title {
        margin-bottom: 7px;
        font-family: 'league_gothicregular', sans-serif;
        font-size: 30px;
        text-transform: uppercase; 
      }
        .main-container-item__title .highlighted {
          color: #edbfff; 
        }
      .main-container-item__text {
        overflow: hidden;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.1px;
        font-weight: 300; 
      }
.blog-updates-block {
    float: right;
  }
  .main-container .dots-nav-item {
      position: absolute;
      right: 175px;
      bottom: -2px; 
      border: 1px solid #e8e8e8;
      list-style: none;
    }
      
        .main-container-holder .dots-nav-item:hover:after {
          top: 2px;
          left: 2px;
          border: 1px solid #4d4d4d;
          background-color: #555555;
          background: linear-gradient(to top, #454545, #888888); 
        }
          
  .blog-updates-block {
    padding: 25px 0 0 57px; 
  }
    .blog-updates-block__title {
      color: #454545;
      margin-bottom: 14px;
      font-family: 'league_gothicregular', sans-serif;
      font-size: 30px;
      text-transform: uppercase; 
    }
    .blog-updates-block-list {
      list-style: none; 
    }
      .blog-updates-block-list-item {
        margin-bottom: 18px;
        width: 445px; 
      }
        .blog-updates-block-list-item__img {
          float: left;
          margin-right: 18px; 
        }
        .blog-updates-block-list-item__title{
        	color: #454545;
          margin-bottom: 3px;
          font-family: 'Open Sans', sans-serif;
          font-size: 16px;          
          font-weight: 800; 
        }
        .blog-updates-block-list-item__details {
          font-family: 'Open Sans', sans-serif;
          font-size: 16px;
          font-weight: 300; 
        }
    .blog-updates-block__link {
      float: right;
      margin-right: 16px;
      font-family: 'league_gothicregular', sans-serif;
      font-size: 18px;
      line-height: 32px;
      text-transform: uppercase;
      text-decoration: none;
      color: #454545; 
    }

.clients {
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #d8d8d8;
  background-color: #f9f9f9; 
}
  .clients-holder {
    padding: 7px 0 31px ;
    text-align: center; 
  }
    .clients-holder__image {
      vertical-align: middle;
      margin: 15px 29px 2px 23px; 
    }
      .clients-holder__image:last-child {
        margin-right: 0; 

      }

.about {
padding-top: 72px;
padding-left: 236px;
height: 268px;
 border-top: 1px solid #33253a;
 border-bottom: 1px solid #1d2f37;
background: rgb(115,80,130); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(115,80,130,1) 0%, rgba(98,70,110,1) 20%, rgba(91,66,102,1) 50%, rgba(73,54,81,1) 77%, rgba(73,54,81,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(115,80,130,1) 0%,rgba(98,70,110,1) 20%,rgba(91,66,102,1) 50%,rgba(73,54,81,1) 77%,rgba(73,54,81,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(115,80,130,1) 0%,rgba(98,70,110,1) 20%,rgba(91,66,102,1) 50%,rgba(73,54,81,1) 77%,rgba(73,54,81,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.about-item {
	margin-left: 62px;
    padding-left: 50px;
    position: relative;
    float: left;
    width: 226px;
    font-family: 'league_gothicregular', sans-serif;
    text-shadow: 1px 1px #000;
    color: #fff; 
  }
    .about-item:first-child {
      margin-left: 13px; 
    }
    .about-item_key:before {
      content: '';
      position: absolute;
      top: 14px;
      left: 0px;
      width: 30px;
      height: 25px;
      background: url('img/icons.png') no-repeat 0 -23px; 
    }
    .about-item_message:before {
      content: '';
      position: absolute;
      top: 15px;
      left: 0;
      width: 30px;
      height: 23px;
      background: url('img/icons.png') no-repeat; 
    }
    .about-item_music:before {
      content: '';
      position: absolute;
      top: 12px;
      left: 0;
      width: 30px;
      height: 25px;
      background: url('img/icons.png') no-repeat 0 -48px; 
    }
    .about-item__title {
      margin-bottom: 5px;
      font-size: 30px;
      font-weight: normal;
      text-transform: uppercase; 
    }
    .about-item__text{
      margin-bottom: 17px;
      line-height: 24px;
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      font-weight: 300; 
    }
    .about-item__link {
      float: right;
      font-size: 18px;
      text-transform: uppercase;
      text-decoration: none;
      color: white;
      transition: 200ms ease; 
    }
      .about-item__link:hover {
        text-shadow: 0 0 8px #fff, 0 0 8px #fff; 
      }
 /* .about:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -2px;
    width: 100%;
    height: 1px;
    background-color: #0d151b; 
  }*/

.article {  
	height: 400px;
	width: 100%;
	background: #ececec;
    border-top: 1px solid #d8d8d8;
}
.article__column__block{
	margin-left: 175px;
    margin-top: 99px;
}
.article__column {
    float: left;
    width: 278px;
    margin-top: -5px;
    margin-left: 59px;
    text-shadow: 1px 1px white;
    color: #454545; 
  }
    .article__logo {
      margin-bottom: 15px;
      max-width: 275px; 
    }
    .article__copyright {
      margin-bottom: 10px;
      font-family: Georgia, sans-serif;
      font-size: 16px;
      font-style: italic;
      color: #c5c5c5; 
    }
    .article__title {
      font-family: 'league_gothicregular',sans-serif;
      margin-bottom: 5px;
      font-size: 30px;
      text-transform: uppercase; 
    }
    .article__text {
      font-family: 'Open Sans', sans-serif;
      line-height: 24px;
      letter-spacing: -0.4px;
      font-size: 16px; 
    }
                                /*FOOTER*/

.footer {
  height: 114px;
  background: url('img/bottom_bg.jpg') no-repeat center;
  
}

  .footer .main-nav {
    display: inline-flex;
    margin-left: 195px;
    margin-top: 36px;
    list-style: none;
    
        }
    .footer .main-nav-item {
  	  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4); 
    }
  .footer  .main-nav-item__link {
    cursor: pointer; 
   	 color:#fff;
   	 font-size: 19px;
   	 text-decoration: none;
   	 font-family: 'league_gothicregular',Tahoma,sans-serif; 
   }

  .footer-copyright {
  	padding-top: 35px;
    padding-right: 156px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 37px;
    font-weight: 300;
    float: right;
    color: white; 
  }
    .footer-copyright__author {
      font-weight: 800; 
    }